* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cor-rodape: #D9D9D9;
    --cor-de-fundo: #1e0433;
    --cor-botao: #adabab;
    --font-principal: 'Besley';
}

body {
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 400;
}

.cabecalho-nav {
    display: flex;
    justify-content: right;
    background-color: var(--cor-rodape);
    padding: 10px;
}

.cabecalho-nav__link {
    text-decoration: none;
    color: black;
    margin-right: 40px;
    transition: 0.5s all;
}

.cabecalho-nav__link:hover {
    font-size: 20px;
    color: black;
}

.principal {
    background-size: contain;
    align-items: center;
    margin: 8em 5em;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;   
    background-size: contain;
    margin: 2em 5em;
}

.titulo_principal {
    font-size: 50px;
    margin-bottom: 1em;
}

.subtitulo {
    margin: 10px 40px;
    font-size: 20px; 
}

.texto {
    margin: 0 80px;
}

.image {
    width: 80%;
    margin: 2em 5em;
    border-radius: 50px;
}

.secundario {
    text-align: center;
    align-items: center;
    margin: 0 4em; 
}

.titulo_secundario {
    font-size: 45px;
    margin-left: 125px;
    font-style: italic;
}

img {
    width: 80%;
    border-radius: 10px;
}

.projeto {
    text-decoration: none;
    color: var(--branco-principal);
    font-style: italic;
    margin: 2em;
    transition: 0.5s;
}

.projeto:hover {
    font-size: 30px;
}

.obs {
    font-size: 13px;
    text-align: center;
    margin-bottom: 2em;
    color: var(--cor-botao);
}

.serviços, .tecnologias {
    text-align: center;
    margin: 3em 0;
}

.lista_serviços {
    display: inline-block;
    text-align: center;
    margin: 0 2em;
}

.lista_tecnologias {
    display: inline-block;
    text-align: center;
    margin: 0 ;
}

.icones {
    margin: 0 2em;
    width: 150px;
    transition: 1s;
}

.icones:hover {
    width: 160px;
}

.descricao {
    font-size: 20px;
}

.titulo_terciario {
    text-align: center;
    margin: 5em;
    font-style: italic;
    font-size: 35px;
}

.rodape {
    background-color: var(--cor-rodape);
    padding: 30px;
    color: black;
    text-align: center;
    font-size: 12px;
}

@media  screen and (max-width: 768px) {
    .container {
        display: block;
        margin: 2em;
    }

    .titulo_principal {
        font-size: 30px;
        margin: 3em 0 1em 0;
    }

    .subtitulo {
        font-size: 16px; 
        margin: 0 0 0 1em;
    }

    .titulo_secundario {
        font-size: 30px;
        margin: 4em 0;
        text-align: center;
    }

    .texto {
        font-size: 15px;
        margin: 1em 2em;
    }

    .image {
        margin: 2em; 
        width: 80%;
    }

    .lista_serviços, .lista_tecnologias {
        margin: 2em;
    }

 
    img {
        width: 90%;
        border-radius: 10px;
    }

    .projeto {
        margin: 0;
    }

    .explicacao {
        margin: 2em 1em;
    }

    .obs {
        font-size: 12px;
        margin: 4em;
    }

    .titulo_terciario {
        font-size: 30px;
        margin: 3em 2em;
    }

}



























































